{% extends "base.html" %}
{% block title %}Largest n Earthquake Information{% endblock %}
{% block content %}

<h1>1001778274, Zhu Zhengyuan</h1>
<h2>Earthquake information retrieval system</h2>

<h4>Earthquake Information</h4>
<h4>Time elapsed: {{elapse}} second</h4>
<table border="1px">
  <thead>
    <th>TIME</th>
    <th>LATITUDE</th>
    <th>LONGTITUDE</th>
    <th>DEPTH</th>
    <th>MAG</th>
    <th>MAGTYPEE</th>
    <th>NST</th>
    <th>GAP</th>
    <th>DMIN</th>
    <th>RMS</th>
    <th>NET</th>
    <th>ID</th>
    <th>UPDATED</th>
    <th>PLACE</th>
    <th>TYPE</th>
    <th>HOTIZONTALERROR</th>
    <th>DEPTHERROR</th>
    <th>MAGERROR</th>
    <th>MAGNST</th>
    <th>STATUS</th>
    <th>LOCATIONSOURCE</th>
    <th>MAGSOURCE</th>
  </thead>
  <tbody>
    {% for info in ci %}
    <tr>
      <td>{{info["TIME"]}}</td>
      <td>{{info["LATITUDE"]}}</td>
      <td>{{info["LONGTITUDE"]}}</td>
      <td>{{info["DEPTH"]}}</td>
      <td>{{info["MAG"]}}</td>
      <td>{{info["MAGTYPE"]}}</td>
      <td>{{info["NST"]}}</td>
      <td>{{info["GAP"]}}</td>
      <td>{{info["DMIN"]}}</td>
      <td>{{info["RMS"]}}</td>
      <td>{{info["NET"]}}</td>
      <td>{{info["ID"]}}</td>
      <td>{{info["UPDATED"]}}</td>
      <td>{{info["PLACE"]}}</td>
      <td>{{info["TYPE"]}}</td>
      <td>{{info["HOTIZONTALERROR"]}}</td>
      <td>{{info["DEPTHERROR"]}}</td>
      <td>{{info["MAGERROR"]}}</td>
      <td>{{info["MAGNST"]}}</td>
      <td>{{info["STATUS"]}}</td>
      <td>{{info["LOCATIONSOURCE"]}}</td>
      <td>{{info["MAGSOURCE"]}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
