{# index page, providing a form to submit a city name #}
{% extends "base.html" %}
{% block title %}EarthQuake{% endblock %}
{% block content %}
<h1 align='center'>QCloud, Wenkang Feng, 1001989816</h1>

{#<p>#}
{#  <form action="/search_largest_n" method="get">#}
{#   Largest earthquake in the last 30 days. <br>#}
{#   <input type="submit" value="Search">#}
{# </form>#}
{# </p>#}
{# <hr>#}
<hr>
{#<p>#}
{# <form action="/search_scale" method="get">#}
{#  Please give two magnitude values A and B. Show the number of quakes between those values in N partitions. Please input A, B, N <br>#}
{#  Lowerbound of magnitude value A: <input type="text" name="low_bound" maxlength="200" width="60"> #}
{#  Higherbound of magnitude value B: <input type="text" name="high_bound" maxlength="200" width="60"> #}
{#  Partition N: <input type="text" name="parition" maxlength="200" width="60"> #}
{#  <input type="submit" value="Search">#}
{#</form>#}
{#</p>#}
<hr>
<p>
 <form action="/search_volcano_by_range" method="get">
  Using a web interface (web page) allow a user to give a range of Elev as well as
     a range of volcano Numbers (first column) and you will show:
     (a) all volcanoes within that range (name, country, region, lat,long, elevation).
     (b) also show the minimum and maximum elevations for all those in that range<br>
  Please input range_min: <input type="text" name="R1" maxlength="200" width="60">
  Please input range_max: <input type="text" name="R2" maxlength="200" width="60">
  <input type="submit" value="Search">
</form>
</p>
    <p>
 <form action="/search_volcano_by_seq" method="get">
  (a) Allow a user to give a sequence number (in vindex table) range, and for all volcanoes in that range,
        list (similar to previous question).
     (b) Allow a user to give a number N (for example 5), and randomly select N of those volcanoes selected by part (a),
        and list.
     For the previous question (11) allow a user to give you the number of times to do the "query",
     then you will do both of the previous parts that number of times and show the results as well as the total time taken.<br>
  Please input sequence number_min: <input type="text" name="N1" maxlength="200" width="60">
  Please input sequence number_max: <input type="text" name="N2" maxlength="200" width="60">
  Please input number N: <input type="text" name="NN" maxlength="200" width="60">
 Please input number of times to do the "query": <input type="text" name="TT" maxlength="200" width="60">
  <input type="submit" value="Search">
</form>
</p>
    <p>
 <form action="/search_volcano_by_seq" method="get">
<br>Repeat the previous question using (in addition to the database) an in-memory caching mechanism
     (NOT an in-memory database) then show us.
  Please input sequence number_min: <input type="text" name="N1" maxlength="200" width="60">
  Please input sequence number_max: <input type="text" name="N2" maxlength="200" width="60">
  Please input number N: <input type="text" name="NN" maxlength="200" width="60">
 Please input number of times to do the "query": <input type="text" name="TT" maxlength="200" width="60">
  <input type="submit" value="Search">
</form>
</p>



{% endblock %}
