{% extends "base.html" %}
{% block title %}Largest n Earthquake Information{% endblock %}
{% block content %}

<h1>1001778274, Zhu Zhengyuan</h1>
<h2>Earthquake information retrieval system</h2>

<h4>Earthquake Information</h4>
<h4>Time elapsed: {{e}} second</h4>
<table border="1px">
  <thead>
    <th>Entity</th>
    <th>Code</th>
    <th>Year</th>
    <th>Prevlence</th>
  </thead>
  <tbody>
    {% for info in rows %}
    <tr>
      <td>{{info["ENTITY"]}}</td>
      <td>{{info["CODE"]}}</td>
      <td>{{info["YEAR"]}}</td>
      <td>{{info["PREVALENCE"]}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
