{# index page, providing a form to submit a city name #}
{% extends "base.html" %}
{% block title %}Fruit{% endblock %}
{% block content %}
<h1 align='center'>QCloud, Wenkang Feng, 1001989816</h1>

<hr>

<p>
 <form action="/search_n" method="get">
  Show a web page and interface (which resides on the cloud provider) with your
     Student ID at the top and below that, your name, at the top of every web page dispayed
     (for this quiz). Please use a large font.

     For this question (only this question),
     Using a web interface (web page) allow a user to give a number N, and the names of N fruits,
     for example for N=2, "grape" and "figs", show a pie chart with N slices,
     where each pie slice represents the fraction of grapes and figs from that group, in this case there are 2 grapes and 4 figs,
     so 66% should be figs and 33% grapes.

     Each pie slice should be in a different color, please show the percent labels outside each slice.
     The pie chart should occupy between 50 and 60% of the screen width.  <br>
  N: <input type="text" name="n" maxlength="200" width="60">
  Fruit Name Must Like "grape,fig,banana": <input type="text" name="names" maxlength="200" width="60">
  <input type="submit" value="Search">
</form>
</p>
<hr>
<p>
 <form action="/search_n" method="get">
  On a web form, please allow a user, to give the same values as the previous question, and show a vertical bar chart
     with N bars colored green, where the height of each bar is the proportian of that fruit. Show only the largest N fruit
     values, for example for N = 3, those are apple, banana, cherry.
     Please put labels inside each bar.
 <br>
  N: <input type="text" name="n" maxlength="200" width="60">
  Fruit Name Must Like "grape,fig,banana": <input type="text" name="names" maxlength="200" width="60">
  <input type="submit" value="Search">
</form>
</p>
<hr>
<p>
 <form action="/search_scale" method="get">
  On a web form, please allow a user, to give a range of values Low to High (L,H) for values in column 1
     (for example 220 to 250) and show a point chart (scatter chart) with those values from column 1 for the X axis
     and the corresponding values from column 3 on the Y axis.
     Please scale this chart to be readable and make sense, and label the X and Y axis.
     Please note: You will need to scale the X and Y axis, as well as label the X and Y axis.
  Range From: <input type="text" name="start" maxlength="200" width="60">
  Range To: <input type="text" name="end" maxlength="200" width="60">
  <input type="submit" value="Search">
</form>
</p>
</p>

{% endblock %}
