{% extends "base.html" %}
{% block title %}Largest n Earthquake Information{% endblock %}
{% block content %}

<h1 align='center'>QCloud, Wenkang Feng, 1001989816</h1>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<h3> Bar and Pie Chart by Scales</h3>
<div id='dashboard'></div>
<script>
  var encodedStr = '{{ci}}';
  var parser = new DOMParser;
  var dom = parser.parseFromString(
      '<!doctype html><body>' + encodedStr,
      'text/html');
  var decodedString = dom.body.textContent.replace(/'/g, '"')
  var scaledQuake = JSON.parse(decodedString)
  console.log(scaledQuake)
  dashboard('#dashboard', scaledQuake);
</script>

{% endblock %}
