<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - AWS</title>
    {% endblock %}
</head>
<body>
    <div id="page">
    <p>[<a href="/">Home</a>]</p>
    <h1>1001778274, Zhu Zhengyuan</h1>

    {% block content %}{% endblock %}
    </div>
    <div id="footer">
        <p><p/>
        <hr/>
        {% block footer %}
        Earthquake information based on <a href="https://earthquake.usgs.gov/">USGS</a>
        {% endblock %}
    </div>
</body>
</html>
