<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1 align='center'>QCloud, Wenkang Feng, 1001989816</h1>
	<p style="color:blue;font-size:20;text-align: center;"><b>Results of your change value operation</b></p>
	{% if img_url %}
	<p align='center'><img src="{{ img_url }}"></p>
	{% else %}
	<h3>There are no picture to show</h3>
	{% endif %}
	
	
	<table align='center'>
		<thead>
			<th>Name</th>
			<th>Num</th>
			<th>Picture</th>
			<th>Keywords</th>
		</thead>
		<tbody>
			{% if info %}
			{% for i in info %}
			<tr>
				<td>{{ i[0] }}</td>
				<td>{{ i[1] }}</td>
				<td><img src="../files/{{ i[2] }}" width="100" /></td>
				<td>{{ i[3] }}</td>
			</tr>
			{% endfor %}
			{% endif %}
		</tbody>
	
	</table>


</body>
</html>