<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1 align='center'>QCloud, Wenkang Feng, 1001989816</h1>
	<header>
    <div class="container">
		<div id="brandname">
			Informations
		</div>
	</div>
	</header>
	
	<p style="color:blue;font-size:20;text-align: center;"><b>Results for your operation</b></p>
	{% if not p%}
	<h3>no picture available</h3>
	{% endif %}
	{% for p in people %}
	    <h3>name {{ p[0] }}</h3>
        <h3>num {{ p[1] }}</h3>
        <img src="{{ p[2] }}">
        <h3>keyword {{ p[3] }}</h3>
	{% endfor %}
</body>
</html>