<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p style="color:blue;font-size:20;text-align: center;"><b>Results of your change value operation</b></p>
	<p align='center'><img src="{{ img_url }}"></p>
	
	
	<table align='center'>
		<thead>
			<th>Name</th>
			<th>Height</th>
			<th>Author</th>
			<th>Picture</th>
			<th>Keywords</th>
		</thead>
		<tbody>
			{% if info %}
			{% for i in info %}
			<tr>
				<td>{{ i[0] }}</td>
				<td>{{ i[1] }}</td>
				<td>{{ i[2] }}</td>
                <td><img src="../files{{ i[3] }}" width="500" /></td>
{#                <img src="img/1.jpg" width="500" />#}
{#				<td>{{ i[3] }}</td>#}
				<td>{{ i[4] }}</td>
			</tr>
			{% endfor %}
			{% endif %}
		</tbody>
	
	</table>


</body>
</html>