<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> -->
</head>
<body>
	<h1 align='center'>Wenkang Feng 1001989816</h1>
{#	<h2>Select csv/image files to upload:</h2>#}
{#	<form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">#}
{#		<input type="file" name="file" id="fileToUpload"> #}
{#		<br><br>#}
{#		<input type="submit" value="Upload File" name="submit">#}
{#	</form>#}
	<hr>

    <img src="../files/curly.png" style="width: 300px">
	<table>
		<thead>
			<th>CSV Name</th>
			<th>CSV Size</th>
		</thead>
		<tbody>
			{% for obj in csv_obj %}
			<tr>
				<td><a href="{{ url_for('view', object_name=obj.name) }}">{{ obj.name }}</a></td>
				<td>{{ obj.size }} bytes</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>
	<table>
		<thead>
			<th>Other File Name</th>
            <th>Picture</th>
			<th>Other File Size</th>
		</thead>
		<tbody>
			{% for obj in other_obj %}
			<tr>
				<td><a href="{{ url_for('view', object_name=obj.name) }}">{{ obj.name }}</a></td>
                <td><img src="../files/{{ obj.name }}" width="50" /></td>
				<td>{{ obj.size }} bytes</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>


	
	

</body>
</html>