<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Flask-Cloudy</title>
</head>

<body>
    <h1 align='center'>Flask - Information Retrieval System: View File</h1>
    <h2><a href="{{ url_for('index') }}"><- Home</a></h2>
    <h3 align='center'> The information of your csv file </h3>
    <br>
    <table align='center'>
        <thead>
            <th>Name</th>
            <th>Height</th>
            <th>Author</th>
            <th>Picture</th>
            <th>Keywords</th>
        </thead>
        <tbody>
            {% if info %}
            {% for i in info %}
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
                <td>{{ i[3] }}</td>
                <td>{{ i[4] }}</td>
                <td>{{ i[5] }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>

    <h2> Search </h2>
    <h3> Search by Height </h3>
    <form action="{{ url_for('search_people_by_height')}}" method="POST">
        <p>Search people whose height is </p>
        <textarea name="height_number" rows="1" cols="10"></textarea>
        <br/>
        <input type="submit" class="btn-info" value="search people by height">
    </form>
{#    <h3> Search people grade</h3>#}
{#    <form action="{{ url_for('search_people_by_grade')}}" method="POST">#}
{#        <p>Grade lower bound</p>#}
{#        <textarea name="low_grade" rows="1" cols="10"></textarea>#}
{#        <p>Grade higher bound</p>#}
{#        <textarea name="high_grade" rows="1" cols="10"></textarea>#}
{#        <br/>#}
{#        <input type="submit" class="btn-info" value="search people by grade">#}
{#    </form>#}
    <hr>
    <h2> Change </h2>
    <h3> Change people information </h3>
        <form action="{{ url_for('change_people_info')}}" method="POST">
            <p>Who and which area you want to change</p>
            <textarea name="change_people" rows="1" cols="10"></textarea>
            <textarea name="change_area" rows="1" cols="10"></textarea>
            <br/>
            <p>The value you want</p>
            <textarea name="target_value" rows="1" cols="10"></textarea>
            <br/>
            <input type="submit" class="btn-info" value="apply change">
            
            <p>If it is a picture please upload it</p>
            <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="fileToUpload"> 
                <br><br>
                <input type="submit" value="Upload File" name="submit">
            </form>
        </form>
    </body>
</html>